<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BirdWatch App</title>
    <!--<script src="Scripts/angular.min.js"></script>-->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/controller.js"></script>
</head>
<body ng-app="birdWatchApp">
    <div ng-controller="birdWatchController">
        <div ng-repeat="item in data">
            {{ item.BirdName }}
            <div>
                {{ item.BirdObservations }}
               <div>
                   <input type="button" value="Lisää havainto" ng-click="incrementBirdObservations(item)" />
                   <br /><br />
               </div>
            </div>
        </div>
        <div>
            <input type="text" ng-model="name" />
            <br /><br />
            <input type="button" value="Lisää lintu" ng-click="addNewBirdItem()" />
            <br /><br />
            {{ status.d }}
            <br /><br />
        </div>
        <div>
            <br /><br />
            <input type="button" value="Raportti" ng-click="getBirdObservationReport()" />
        </div>
        <div ng-repeat="item in report">
            {{ item }}
        </div>

    </div>
</body>
</html>