<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BirdWatch App</title>
    <!--<script src="Scripts/angular.min.js"></script>-->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/controller.js"></script>
</head>
<body ng-app="birdWatchApp">
    <div ng-controller="birdWatchController">
        <div ng-repeat="item in data">
            <font size="5">{{ item.BirdName }}</font>
            <div>
                Havainnot: {{ item.BirdObservations }} kappaletta.
               <div>
                   <input type="button" value="Lisää" ng-click="incrementBirdObservations(item)" />
                   <br /><br />
               </div>
            </div>
        </div>
        <div>
            <font size="5">Lisää uusi laji</font>
            <br />
            <input type="text" ng-model="name" />
            <br />
            <input type="button" value="Lisää" ng-click="addNewBirdItem()" />
            <br />
            {{ status.d }}
        </div>
        <div>
            <br />
            <font size="5">Havaintoraportit</font>
        </div>
        <div ng-repeat="item in report">
            {{ item }}
        </div>

    </div>
</body>
</html>